In [ ]:
#Employee Promotion Prediction

In [ ]:
import pandas as pd
employee_set = pd.read_csv('https://bit.ly/2ODZvLCHRDataset', delimiter=',', quotechar='"')
employee_set.head(3)

   employee_id         department  ... avg_training_score is_promoted
0        65438  Sales & Marketing  ...                 49           0
1        65141         Operations  ...                 60           0
2         7513  Sales & Marketing  ...                 50           0

[3 rows x 14 columns]

In [ ]:
employee_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54808 entries, 0 to 54807
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   employee_id           54808 non-null  int64
 1   department            54808 non-null  object
 2   region                54808 non-null  object
 3   education             52399 non-null  object
 4   gender                54808 non-null  object
 5   recruitment_channel   54808 non-null  object
 6   no_of_trainings       54808 non-null  int64
 7   age                   54808 non-null  int64
 8   previous_year_rating  50684 non-null  float64
 9   length_of_service     54808 non-null  int64
 10  KPIs_met >80%         54808 non-null  int64
 11  awards_won?           54808 non-null  int64
 12  avg_training_score    54808 non-null  int64
 13  is_promoted           54808 non-null  int64
dtypes: float64(1), int64(8), object(5)
memory usage: 5.9+ MB

In [ ]:

employee_set.describe()

        employee_id  no_of_trainings  ...  avg_training_score   is_promoted
count  54808.000000     54808.000000  ...        54808.000000  54808.000000
mean   39195.830627         1.253011  ...           63.386750      0.085170
std    22586.581449         0.609264  ...           13.371559      0.279137
min        1.000000         1.000000  ...           39.000000      0.000000
25%    19669.750000         1.000000  ...           51.000000      0.000000
50%    39225.500000         1.000000  ...           60.000000      0.000000
75%    58730.500000         1.000000  ...           76.000000      0.000000
max    78298.000000        10.000000  ...           99.000000      1.000000

[8 rows x 9 columns]

In [ ]:
my_glossary = pd.read_csv('https://bit.ly/2Wz3sWcGlossary')
my_glossary.head()

                employee_id - Unique ID for employee
0                department - Department of employee
1          region - Region of employment (unordered)
2                        education - Education Level
3                        gender - Gender of Employee
4  recruitment_channel - Channel of recruitment f...

In [ ]:
employee_set.describe()

         department        region  ...  avg_training_score   is_promoted
count  54808.000000  54808.000000  ...        54808.000000  54808.000000
mean       4.972796     15.428970  ...           63.386750      0.085170
std        2.506046      8.764954  ...           13.371559      0.279137
min        0.000000      0.000000  ...           39.000000      0.000000
25%        4.000000     11.000000  ...           51.000000      0.000000
50%        5.000000     14.000000  ...           60.000000      0.000000
75%        7.000000     21.000000  ...           76.000000      0.000000
max        8.000000     33.000000  ...           99.000000      1.000000

[8 rows x 13 columns]

In [ ]:
#preprocessing
# Import LabelEncoder
from sklearn import preprocessing

#creating labelEncoder
le = preprocessing.LabelEncoder()

# Converting string labels into numbers.
employee_set.department=le.fit_transform(employee_set.department)
employee_set.region=le.fit_transform(employee_set.region)
employee_set.education=le.fit_transform(employee_set.education)
employee_set.gender=le.fit_transform(employee_set.gender)
employee_set.recruitment_channel=le.fit_transform(employee_set.recruitment_channel)

#dropping columns
employee_set = employee_set.drop(["employee_id"], axis=1)

In [ ]:
#splitting the dataset
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

employee_df_train, employee_df_valid = train_test_split(employee_set, test_size=0.25, random_state=12345)

train_features = employee_df_train.drop(["is_promoted"], axis=1)
train_target = employee_df_train["is_promoted"]

test_features = employee_df_valid.drop(["is_promoted"], axis=1)
test_target = employee_df_valid["is_promoted"]

In [ ]:
train_features['department'].describe()

count    41106.000000
mean         4.977059
std          2.507313
min          0.000000
25%          4.000000
50%          5.000000
75%          7.000000
max          8.000000
Name: department, dtype: float64

In [ ]:
model = DecisionTreeClassifier(random_state=111)
model.fit(train_features,train_target)
model.predict(test_features)

ValueError: ignored